* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  margin: 0;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #7e7e7e;
  background-size: cover;
  background-position: center;
  font-family: "Roboto", sans-serif; /* Ensure the font is applied to the entire body */
}
